* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #0001;
}

header h1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

#container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0001;
    border: 5px solid #000;
    margin-left: 37%;
    width: 400px;
    border-radius: 10px;
}

#btn {
    padding: 25px;
}